name: Docker Staging

on:
  push:
    branches: [main]

  workflow_dispatch:
    inputs:
      commit_hash:
        description: "Commit hash to build & deploy"
        required: true
        type: string

env:
  COMMIT_HASH: ${{ github.sha }}

jobs:
  dockerize-staging:
    name: Build and Push to GitHub Container Registry
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: github.ref == 'refs/heads/main'

    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: docker-build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: apps/api/Dockerfile
          build-args: APP_VERSION=${{ github.sha }}
          tags: |
            ghcr.io/fwu-de/telli-api:latest
            ghcr.io/fwu-de/telli-api:${{ env.COMMIT_HASH }}
          push: true
          provenance: mode=max

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ghcr.io/fwu-de/telli-api
          subject-digest: ${{ steps.docker-build.outputs.digest }}
          push-to-registry: true

  deploy-staging:
    name: Rollout to Staging
    needs: dockerize-staging
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set Kubernetes Context
        uses: azure/k8s-set-context@v4
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBE_CONFIG }}
          context: ""

      - name: Update Kubernetes Deployment
        run: |
          COMMIT_HASH=${{ env.commit_hash }}
          echo "Updating Kubernetes Deployment with image: ghcr.io/fwu-de/telli-api:${{ env.COMMIT_HASH }}"
          kubectl set image deployment/telli-api-stage \
            telli-api-stage=ghcr.io/fwu-de/telli-api:${{ env.COMMIT_HASH }} -n telli-stage
      - name: Wait for rollout to complete
        run: |
          echo "Waiting for rollout to complete"
          kubectl rollout status deployment/telli-api-stage -n telli-stage
