name: Docker Staging

on:
  push:
    branches: [main]

jobs:
  dockerize-staging:
    name: Build and Push to GitHub Container Registry
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: github.ref == 'refs/heads/main'

    permissions:
      contents: read
      packages: write
      id-token: write
      attestations: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: docker-build
        uses: docker/build-push-action@v6
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ vars.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ vars.SENTRY_PROJECT }}
        with:
          context: .
          file: apps/api/Dockerfile
          secret-envs: |
            SENTRY_AUTH_TOKEN=SENTRY_AUTH_TOKEN
            SENTRY_ORG=SENTRY_ORG
            SENTRY_PROJECT=SENTRY_PROJECT
          build-args: |
            CI=${CI}
            APP_VERSION=${{ github.sha }}
          tags: |
            ghcr.io/fwu-de/telli-api:latest
            ghcr.io/fwu-de/telli-api:${{ github.sha }}
          push: true
          provenance: mode=max
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ghcr.io/fwu-de/telli-api
          subject-digest: ${{ steps.docker-build.outputs.digest }}
          push-to-registry: true

  deploy-staging:
    name: Rollout to Staging (${{ matrix.kube_context }})
    needs: dockerize-staging
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        kube_context: [ionos, otc]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set Kubernetes Context
        uses: azure/k8s-set-context@v4
        with:
          method: kubeconfig
          kubeconfig: ${{ secrets.KUBE_CONFIG }}
          context: ${{ matrix.kube_context }}

      - name: Restart Kubernetes deployment
        run: |
          echo "Restarting Kubernetes deployment to pull new latest containers"
          kubectl rollout restart deployment/telli-api-stage -n telli-stage
      - name: Wait for rollout to complete
        run: |
          echo "Waiting for rollout to complete"
          kubectl rollout status deployment/telli-api-stage -n telli-stage
